@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Averia Serif Libre', cursive;
}

a:hover {
	color: #ffb7f1;
}

body {
	background-color: black;
}

header {
	height: calc(100vh - 100px);
}

.header-img {
	width: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	height: 100vh;
}

.navbar-brand {
	width: 20%;
	height: auto;
}

.navbar-brand img {
	margin: 0 auto;
	margin-left: 10px;
	max-height: 100px;
	max-width: 200px;
}

.navbar-collapse ul {
	margin: 0 auto;
}

#nav-change {
	margin: 0 auto;
	margin-right: 10px;
}

nav {
	position: absolute;
	top: 0;
	padding: 0;
	z-index: 1;
}

nav ul li a {
	color: #ffffff;
	font-weight: bold;
	letter-spacing: 5px;
	margin: 2vw;
	font-size: 20px;
}

#main-nav {
	height: 70px;
}

.fa-bars {
	padding-top: 15%;
}

h2 span {
	font-size: 75px;
}


/* Critics section styling */

.critics {
	padding: 10vh 0;
	background-image: url("../img/night.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	height: auto;
}


/* Critics comments section text styling */

.critics-text {
	color: white;
	display: inline-block;
	text-align: center;
	font-size: 26px;
}

.critics-text h2 {
	font-size: 36px;
	margin-bottom: 50px;
}


/* Live music and new album sections images styling */

.section-img {
	object-fit: cover;
	width: 100%;
	display: inline-block;
}


/* Live music section styling */

.home-live {
	padding: 15vh 0;
	background-image: url("../img/background-00-dark.jpg");
	background-size: cover;
	color: white;
	box-sizing: border-box;
	min-height: 100vh;
	height: auto;
}


/* Live music and new album sections image and heading containers styling */

.section-img-text h2 {
	margin-top: 2vh!important;
	font-size: 3.5em!important;
	letter-spacing: 3px!important;
}

#audio-container div {
	padding: 0;
	border: 0;
}


/* Live music audio players styling */

audio[controls] {
	display: block;
	margin: 10px auto;
}


/* Fixes a bootstrap padding and margin bug */

.row {
	padding: 0;
	margin: 0;
}


/* Styles audio players */

audio {
	filter: brightness(.95)invert(100%) opacity(1);
	width: 100%;
	height: 5vh;
	background-color: #f1f3f4;
	margin: 0 !important;
}

figure {
	width: 94%;
}

figcaption {
	opacity: .9;
}


/* New album section styling */

.home-music {
	padding: 15vh 0;
	background-image: url("../img/background-0200.jpg");
	background-size: cover;
	color: white;
	box-sizing: border-box;
	height: auto;
}

footer {
	background-color: black;
	color: white;
	bottom: 0;
}

footer ul {
	display: block;
	padding: 8vh 0;
	margin-top: 5vh;
}

footer ul li a {
	margin: 0 2vw;
	color: #c4c4c4;
	font-size: 50px;
}

footer p {
	text-align: center;
}


/* contact page styling starts here */

#contact-body .contact-header-img {
	width: 100%;
	object-fit: cover;
	height: 400px;
}

#contact-text {
	position: absolute;
	top: 85px;
	width: 100%;
	text-align: center;
	color: white;
}

#above-form-text h1 {
	font-weight: 500;
	top: 50px;
	font-size: 60px;
	letter-spacing: 5px;
}

#above-form-text p {
	top: 65px;
	font-size: 20px;
	letter-spacing: 5px;
}

#contact-body h2 {
	color: white;
	text-align: center;
	position: absolute;
	left: 50%;
	top: -10px;
	letter-spacing: 4px;
	transform: translate(-50%, 0%);
	z-index: 2;
	font-size: 20px;
}

form {
	position: absolute;
	top: -40px;
	/* lifts form slightly onto above image */
	background-color: rgb(0, 0, 0);
	padding: 0 6vw;
	padding-top: 50px;
	border-style: solid;
	border-radius: 5px;
}

label {
	color: white;
	margin-top: 20px;
}


/* Style inputs */

input[type=text],
select,
textarea {
	width: 100%;
	padding: 12px;
	margin-top: 7px;
	margin-bottom: 4px;
}

input[type=email] {
	width: 100%;
	padding: 12px;
	margin-top: 7px;
	margin-bottom: 4px;
}

input[type=submit] {
	background-color: rgb(124, 124, 150);
	color: white;
	padding: 15px 22px;
	border: none;
}


/* Tour Text starts here */

#tour img {
	height: 500px;
	position: relative;
	width: 100%;
}

#tour-text {
	color: white;
	text-align: center;
	position: absolute;
	top: 170px;
}

#tour-text h1 {
	font-size: 60px;
	letter-spacing: 5px;
}

#tour-text p {
	font-size: 20px;
	letter-spacing: 5px;
}


/* About starts here */

#about {
	height: auto;
}

#about img {
	object-fit: contain;
	position: relative;
	width: 100%;
}

#about-text {
	height: auto;
	color: white;
	text-align: left;
	position: absolute;
	top: 0;
}

#about-text h1 {
	top: 150px;
	font-size: 45px;
	letter-spacing: 5px;
}

#about-text p {
	top: 180px;
	font-size: 19px;
	letter-spacing: 5px;
}

@media screen and (max-width: 1199px) {
	.critics-text {
		color: white;
		display: inline-block;
		text-align: center;
		font-size: 20px;
	}
	.critics-text h2 {
		font-size: 30px;
		margin-bottom: 30px;
	}
	nav ul li a {
		color: #ffffff;
		font-weight: bold;
		letter-spacing: 5px;
		margin: 1vw;
		font-size: 10px;
	}
}

@media screen and (max-width: 991px) {
	/* Critics lg size section styling */
	.critics-text {
		color: white;
		display: inline-block;
		text-align: center;
		font-size: 18px;
	}
	.critics-text h2 {
		font-size: 28px;
		margin-bottom: 30px;
	}
	/* Live music and new album sections h2 styling */
	.section-img-text h2 {
		margin-top: 2vh !important;
		font-size: 30px !important;
		letter-spacing: 3px !important;
		line-height: 1.6;
	}
	h2 span {
		font-size: 65px;
	}
	/* About starts here */
	#about {
		height: auto;
	}
	#about img {
		object-fit: cover;
		position: relative;
		width: 100%;
		height: 210vh;
	}
	#about-text {
		height: auto;
		color: white;
		text-align: left;
		position: absolute;
		top: 0;
	}
	#about-text h1 {
		top: 110px;
		font-size: 40px;
		letter-spacing: 5px;
	}
	#about-text p {
		top: 120px;
		font-size: 15px;
		letter-spacing: 5px;
	}
}

@media screen and (max-width: 767px) {
	nav button {
		position: absolute;
		right: 30px;
		top: 30px;
	}
	.navbar-toggler {
		top: 26px;
		background-color: #f4f4f4;
		color: #c1c1c1;
		border-radius: 0px;
	}
	header {
		height: auto;
	}
	#main-nav {
		height: 100px;
	}
	.navbar-brand {
		width: 20%;
		height: auto;
	}
	.navbar-brand img {
		margin: 0 auto;
		margin-left: 10px;
		max-height: 100px;
		width: 50%;
	}
	.navbar-collapse ul {
		transform: translate(0%, 5%);
	}
	.header-img {
		width: 100%;
		object-fit: cover;
		position: relative;
		height: 90vh;
	}
	.navbar-collapse {
		width: 100%;
		position: absolute;
		top: 100px;
		right: 0;
		height: 100vh;
		height: 120vh;
		background-color: rgba(62, 62, 62, 0.94) !important;
	}
	.navbar-collapse ul li {
		width: 100%;
		margin: 0;
		margin: 1vh 0;
		padding: 0;
		text-align: center;
	}
	/*styles navbar at sm and xs */
	.navbar-brand {
		width: 100%;
		padding: 20px 0;
	}
	nav ul li a {
		color: #ffffff;
		font-weight: bold;
		letter-spacing: 4px;
		margin: 1px;
		font-size: 25px;
	}
	/* Critics section styling */
	.critics {
		padding: 5vh 0;
		margin: 0;
		background-image: url("../img/night.jpg");
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		box-sizing: border-box;
		height: auto;
	}
	/* Critics comments section text styling */
	.critics-text {
		width: 90%;
		margin-left: 5%;
		;
		color: white;
		display: inline-block;
		text-align: center;
		font-size: 16px;
	}
	.critics-text h2 {
		font-size: 30px;
		margin-bottom: 30px;
	}
	/* Live music and new album sections images styling */
	.section-img {
		object-fit: cover;
		width: 50%;
		margin-left: 25%;
		;
	}
	/* Live music and new album sections image and heading containers styling */
	.section-img-text h2 {
		margin-top: 2vh !important;
		font-size: 20px !important;
		letter-spacing: 3px !important;
		text-align: center;
		height: 50%;
	}
	/* Live music section styling */
	.home-live {
		padding: 5vh 0;
		background-image: url("../img/background-00-dark.jpg");
		background-size: cover;
		color: white;
		box-sizing: border-box;
		min-height: 100vh;
		height: 900px;
		padding-top: 15vh;
	}
	.section-img-text {
		height: auto;
		width: 100%;
	}
	/* Live music audio players styling */
	audio[controls] {
		display: block;
		margin: 10px auto;
		margin: 0!important;
		padding: 0!important;
	}
	/* Styles audio players */
	#audio-container div {
		margin-top: 20px;
		height: 50%;
		overflow: scroll;
	}
	audio {
		filter: brightness(.95) invert(100%) opacity(1);
		height: 5vh;
		background-color: #f1f3f4;
		margin: 0 !important;
	}
	figure {
		margin: 0;
		padding: 0;
		width: 70%;
		margin-left: 15%;
		margin-top: 5px;
	}
	figcaption {
		margin: 0!important;
		padding: 0!important;
		opacity: .9;
	}
	/*scroll chevron indicator*/
	.home-live p {
		margin-top: 20px;
		text-align: center;
		color: rgba(255, 255, 255, 0.62);
	}
	/* New album sections h2 + iframe styling */
	.home-music {
		padding: 5vh 0;
		padding-top: 15vh;
	}
	.section-img-text h2 span {
		font-size: 30px;
	}
	iframe {
		margin-top: 2vh;
	}
	footer ul li a {
		margin: 0 2vw;
		color: #c4c4c4;
		font-size: 30px;
	}
	/* Contact Page */
	#above-form-text h1 {
		font-weight: 500;
		top: 80px;
		font-size: 40px;
		letter-spacing: 5px;
	}
	#above-form-text p {
		top: 95px;
		font-size: 15px;
		letter-spacing: 5px;
	}
	#contact-body h2 {
		color: white;
		text-align: center;
		position: absolute;
		left: 50%;
		top: -10px;
		letter-spacing: 4px;
		transform: translate(-50%, 0%);
		z-index: 2;
		font-size: 12px;
	}
	/* Tour page */
	#tour-text {
		color: white;
		text-align: center;
	}
	#tour-text h1 {
		top: 15vh;
		font-size: 40px;
		letter-spacing: 5px;
	}
	#tour-text p {
		top: 17vh;
		font-size: 15px;
		letter-spacing: 5px;
	}
	/* Fixes a bootstrap padding and margin bug */
	.row {
		padding: 0;
		margin: 0;
	}
}

@media screen and (max-width: 576px) {
	.header-img {
		width: 100%;
		object-fit: cover;
		position: relative;
		height: 50vh;
	}
}