* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: blue;
}

header {
	height: 100vh;
}

h1 {
	z-index: 2;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translate(-50%, 0%);
	min-width: 200px;
	height: auto;
}

.navbar-collapse ul {
	margin: 0 auto;
	margin-top: 100px;
}

h1 img {
	margin: 0 auto;
	margin-top: 2vh;
	max-height: 100px;
	min-width: 300px;
}

h1 a img {
	width: 100%;
	align-content: center;
}

nav {
	padding: 0;
	z-index: 1;
}

nav ul li a {
	color: #ffffff;
	font-weight: bold;
	letter-spacing: 5px;
	margin: 2vw;
	font-size: 1vw;
}

video {
	width: 100%;
	position: absolute;
	top: 0;
}

video[poster] {
	height: 100vh;
	object-fit: cover;
}

.navbar-toggler {
	background-color: #f4f4f4;
	color: #c1c1c1;
	border-radius: 0px;
}

.fa-bars {
	padding-top: 15%;
}


/* Critics section styling */

.critics {
	padding: 10vh 0;
	background-image: url("../img/night.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	height: auto;
}


/* Critics comments section text styling */

.critics-text {
	color: white;
	display: inline-block;
	text-align: center;
	font-size: 26px;
}

.critics-text h2 {
	font-size: 36px;
	margin-bottom: 30px;
}


/* Live music and new album sections images styling */

.section-img {
	object-fit: cover;
	width: 100%;
	display: inline-block;
}


/* Live music section styling */

.home-live {
	padding: 15vh 0;
	background-image: url("../img/background-00-dark.jpg");
	background-size: cover;
	color: white;
	box-sizing: border-box;
	min-height: 100vh;
	max-height: 100vh;
}


/* Live music and new album sections image and heading containers styling */

.section-img-text h2 {
	margin-top: 2vh!important;
	font-size: 3.5em!important;
	letter-spacing: 3px!important;
}

#audio-container div {
	padding: 0;
	border: 0;
}


/* Live music audio players styling */

audio[controls] {
	display: block;
	margin: 10px auto;
}


/* Fixes a bootstrap padding and margin bug */

.row {
	padding: 0;
	margin: 0;
}


/* Styles audio players */

audio {
	filter: brightness(.95)invert(100%) opacity(1);
	width: 100%;
	height: 5vh;
	background-color: #f1f3f4;
	margin: 0 !important;
}

figure {}

figcaption {
	opacity: .9;
}

@media screen and (max-width: 1199px) {
	.critics-text {
		color: white;
		display: inline-block;
		text-align: center;
		font-size: 20px;
	}
	.critics-text h2 {
		font-size: 30px;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 991px) {
	.critics-text {
		color: white;
		display: inline-block;
		text-align: center;
		font-size: 18px;
	}
	.critics-text h2 {
		font-size: 28px;
		margin-bottom: 30px;
	}
	.section-img-text h2 {
		margin-top: 2vh !important;
		font-size: 30px !important;
		letter-spacing: 3px !important;
		line-height: 1.6;
	}
}

@media screen and (max-width: 767px) {
	nav button {
		position: absolute;
		right: 30px;
		top: 30px;
	}
	h1 {
		position: absolute;
		z-index: 2;
		margin-top: 0;
		padding-top: 0;
		top: 24px;
		left: 18px;
		transform: translate(0%, 0%);
	}
	h1 img {
		margin: 0;
		padding: 0;
		max-height: 70px;
		width: 20vw;
		min-width: 200px;
	}
	h1 img a {
		margin: 0;
		padding: 0;
	}
	.navbar-collapse {
		width: 100%;
		margin: 0 auto;
		margin-top: 100px;
		background-color: rgba(128, 128, 128, 0.62);
	}
	.navbar-collapse ul {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.navbar-collapse ul li {
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: right;
	}
	nav ul li a {
		color: #ffffff;
		font-weight: bold;
		letter-spacing: 4px;
		margin: 2vw;
		font-size: 5vw;
	}
	/* Critics section styling */
	.critics {
		padding: 10vh 0;
		background-image: url("../img/night.jpg");
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		box-sizing: border-box;
		height: auto;
	}
	/* Critics comments section text styling */
	.critics-text {
		color: white;
		display: inline-block;
		text-align: center;
		font-size: 16px;
	}
	.critics-text h2 {
		font-size: 26px;
		margin-bottom: 30px;
	}
	/* Live music and new album sections images styling */
	.section-img {
		object-fit: cover;
		width: 50%;
		margin-left: 25%;
		;
	}
	/* Live music section styling */
	.home-live {
		padding: 5vh 0;
		background-image: url("../img/background-00-dark.jpg");
		background-size: cover;
		color: white;
		box-sizing: border-box;
		max-height: 100vh;
	}
	.section-img-text {
		height: auto;
		width: 100%;
	}
	/* Live music and new album sections image and heading containers styling */
	.section-img-text h2 {
		margin-top: 2vh !important;
		font-size: 20px !important;
		letter-spacing: 3px !important;
		text-align: center;
		height: 50%;
	}
	/* Live music audio players styling */
	audio[controls] {
		display: block;
		margin: 10px auto;
		margin: 0!important;
		padding: 0!important;
	}
	/* Fixes a bootstrap padding and margin bug */
	.row {
		padding: 0;
		margin: 0;
	}
	/* Styles audio players */
	#audio-container div {
		margin-top: 20px;
		height: 50%;
		overflow: scroll;
	}
	.home-live p {
		margin-top: 20px;
		text-align: center;
		color: rgba(255, 255, 255, 0.62);
	}
	audio {
		filter: brightness(.95) invert(100%) opacity(1);
		height: 5vh;
		background-color: #f1f3f4;
		margin: 0 !important;
	}
	figure {
		margin: 0;
		padding: 0;
		width: 70%;
		margin-left: 15%;
	}
	figcaption {
		margin: 0!important;
		padding: 0!important;
		opacity: .9;
	}
}